
    .alert-success {
        background-color: green
    }

    .alert-warning {
        background-color: yellow;
    }

    .alert-danger {
        background-color: red;
    }

    .alert-info {
        background-color: teal;
    }
  