[mysqld]
performance_schema = OFF
innodb_buffer_pool_size=5M
innodb_log_file_size=4M
innodb_log_buffer_size=256K
innodb_file_per_table=ON
max_connections=10
key_buffer_size=128K
thread_cache_size=0
host_cache_size=0
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000
tmp_table_size=1M
# per thread or per operation settings
thread_stack=400K
sort_buffer_size=32K
read_buffer_size=8K
read_rnd_buffer_size=8K
max_heap_table_size=16K
tmp_table_size=1K
bulk_insert_buffer_size=512K
join_buffer_size=128K
net_buffer_length=1K
innodb_sort_buffer_size=64K
#settings that relate to the binary log (if enabled)
binlog_cache_size=4K
max_allowed_packet=1M
binlog_expire_logs_seconds=259200
innodb_undo_log_truncate=ON
innodb_max_undo_log_size=52428800
innodb_rollback_on_timeout=ON
max_binlog_size=10M
[mysqldump]
max_allowed_packet=1M
