ul[class=".nav"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #026e02;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color: #39ca40;
}

.form > :nth-child(n) {
    margin-left: sibling-index() px;
}